/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@600&display=swap");

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

:root {
  font-family: "Work Sans", sans-serif;
  font-family: Lato, sans-serif;
}

.title {
  font-family: "Work Sans", sans-serif;
}
